[alias]
	st	 = status -s
	ci = commit
	co = checkout
	df = diff

	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

	reb = "!r() { git rebase -i HEAD~$1; }; r"
	fb = "!f() { git branch -a --contains $1; }; f"
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	qq = config --get-regexp alias
	di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"

[user]
	name = Peter Pistorius
	email = peter.pistorius@gmail.com

[color]
	ui = true

[color "branch"]
  	current = yellow reverse
  	local = yellow
  	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[core]
	excludesfile = ~/.gitignore
